# db-postgis
DB_POSTGIS_USER='postgres'
DB_POSTGIS_PASSWORD='password'
DB_POSTGIS_DATABASE='records'
DB_POSTGIS_MODULE_NAME='db-postgis'
DB_POSTGIS_MODULE_LABEL='Postgis DB'

# be-fetch
BE_FETCH_MODULE_NAME='be-fetch'
BE_FETCH_MODULE_LABEL='Fetch service'
# NextBike
BE_FETCH_MODULE_NEXTBIKE_NAME='NextBike'
# OpenWeather
BE_FETCH_MODULE_OPENWEATHER_NAME='OpenWeather'
BE_FETCH_MODULE_OPENWEATHER_TOKEN='token'
BE_FETCH_MODULE_OPENWEATHER_PLACES='[
    {"name": "place", "lat": 0, "lng": 0}
]'
# KORDIS
BE_FETCH_MODULE_KORDIS_NAME='KORDIS'

#be-api
BE_API_MODULE_NAME='be-api'
BE_API_MODULE_LABEL='API service'
BE_API_MODULE_TOKENS='[
    "token"
]'

#redis
BE_REDIS_URL='redis://new-ben-redis:6379'
BE_REDIS_NAME='Redis'
