# db-postgis
DB_POSTGIS_USER='postgis'
DB_POSTGIS_PASSWORD='password'
DB_POSTGIS_DATABASE='records'
DB_POSTGIS_MODULE_NAME='db-postgis'
DB_POSTGIS_MODULE_LABEL='Postgis DB'

# be-fetch
BE_FETCH_MODULE_NAME='be-fetch'
BE_FETCH_MODULE_LABEL='Fetch service'
BE_FETCH_MODULE_NEXTBIKE_NAME='NextBike'

#be-api
BE_API_MODULE_NAME='be-api'
BE_API_MODULE_LABEL='API service'
BE_API_MODULE_TOKENS='["token0", "token1"]'
